.site-sidenav {
    md-toolbar {
        background-color: white;
        .logo {
            text-align: center;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -webkit-align-items: center;
            align-items: center;
            // padding: 0 0 16px;
            margin: 0 auto;
    
            > img {
                margin-top: 20px;
                height: 80px;
                width: auto;
                display: block;
            }
        }
    }

    md-list, md-list ul {
        padding: 0;
        margin-top: 0;
    }

    md-list-item {
        > menu-link, > menu-toggle {
            width:100%;
        }
        .md-button {
            width:100%;
            text-align:left !important;
            margin-left: 0;
            &.active {
                color: #03a9f4;
            }

            md-icon {
                line-height: 20px;
                margin-right: 5px;
            }
        }
    }
    
    .md-button-toggle .md-toggle-icon {
        background-size: 100% auto;
        display: inline-block;
        margin: auto 0 auto auto;
        width: 15px;
        color: darkgray;
        transition: transform .3s ease-in-out;
        -webkit-transition: -webkit-transform .3s ease-in-out;

        &.toggled {
            transform: rotateZ(180deg);
            -webkit-transform: rotateZ(180deg);
        }
    }
      
    .menu-toggle-list {
        max-height: 1300px;
        overflow: hidden;
        position: relative;
        z-index: 1;
        -webkit-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
        -webkit-transition-property: max-height;
        -moz-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
        -moz-transition-property: max-height;
        transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
        transition-property: max-height;

        &.ng-hide {
            max-height: 0;
        }
    }
}